---js
const eleventyNavigation = {
	key: "Archive",
	order: 2
};
---
<h1>All Books</h1>

<div id="book-archive">
	<p class="loading-message">Loading…</p>
</div>

{%- if supabase.url %}
<script type="module" src="/js/books-archive.js"></script>
{%- endif %}
